<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Main page</title>
</head>
<body>
<h1>Главная страница</h1>
    <p>Hello: ${name}</p>
<form method="get">
    <button formaction="/api/v1/auth/signin">Вход</button>
    <button formaction="/api/v1/auth/signup">Регистрация</button>
    <button formaction="/api/v1/auth/logout">Выход</button>
    <br><br>
    <button formaction="/gameplay">Играть</button>
    <button formaction="/scores">Доска почета</button>
    <button formaction="/admin">Админка</button>
</form>

</body>
</html>